.main{
    background: #141212;
    bottom: 0;
    color: white;
    padding-top: 300px;
    padding-bottom: 100px;
}

.box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    gap: 300px;
    text-align: center;
}

.child{
    line-height: 50px;
}

.child h2{
    font-size: 2em;
    margin-bottom: 20px;
}

@media screen and (max-width: 568px) {
    .box{
        flex-direction: column;
    }
}