.svg1, .svg2, .svg3, .svg4, .svg5, .svg6, .svg7{
    width: 270px;
    height: auto;
    position: absolute;
    z-index: 1;
}


.svg1{
    top: 70%;
    left: 2%;
    opacity: .8;
    animation: 2s float infinite;
    animation-fill-mode: forwards;
    animation-delay: .2;
}

.svg2{
    top: 8%;
    right: 0%;
    opacity: .8;
    animation: 2s float infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.svg3{
    top: 22%;
    left: 3%;
    opacity: .6;
    z-index: 0;
    animation: show 1s;
    animation-fill-mode: forwards;
}

.svg4{
    top: 50%;
    right: 5%;
    opacity: .8;
    z-index: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.svg5{
    left: -3%;
    width: 55%;
    opacity: .9;
    z-index: 0;
    top: 315%;
    animation: show .6s;
    animation-fill-mode: forwards;
}

.svg6{
    right: 0%;
    width: 55%;
    opacity: .9;
    z-index: 0;
    top: 445%;
    animation: show .6s;
    animation-fill-mode: forwards;
}

.svg7{
    left: 0%;
    width: 55%;
    opacity: .9;
    z-index: 1;
    top: 565%;
    animation: show .6s;
    animation-fill-mode: forwards;
}

.waves{
    position: absolute;
    top: 234%;
    width: 100%;
    height: auto;
}

.waves2{
    position: absolute;
    width: 100%;
    height: auto;
    top: 655%;
    z-index: 0;
}

.waves3{
    width: 100%;
    height: auto;
    z-index: 0;
}

.waves4{
    top: 970%;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
}

@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: .9;
    }
}


@keyframes float{
0%{
    margin-top: 0px;
    opacity: .85;
}
50%{
    margin-top: 10px;
    opacity: .8;
}
100%{
    margin-top: 0px;
    opacity: .85;
}
}

@media screen and (max-width: 568px) {
    .svg1, .svg2, .svg3, .svg4, .svg5, .svg6, .svg7, .waves2{
        display: none;
    }
    .waves, .waves2, .waves3, .waves4{
        display: none !important;
    }
}

@media screen and (min-width: 1920px) {

    .svg1{
        top: 53%;
    }
    .svg2{
        top: 11%;
    }

}

@media screen and (min-width: 2000px) {
    .waves{
        top: 220%;
    }

}